Screen {
	padding: 1 2;
}

#content {
	padding: 1 1;
}

#path_summary {
	margin-top: 1;
	margin-bottom: 1;
	padding: 0 1;
}

#map_display {
	margin-top: 1;
	margin-bottom: 1;
	padding: 1 1;
	height: 1fr;
}

#selectors_row {
	margin-top: 2;
	padding: 0 1 1 1;
	height: auto;
}

#start_node {
	margin-right: 1;
}

#end_node {
	margin-left: 1;
}

#lookup_view {
    height: 1fr;
}

#lookup_log {
    height: 1fr;
    min-height: 10;
}

#lookup_view {
    height: 1fr;
    padding: 1 1;
}

#lookup_top_controls {
    height: auto;
    margin-bottom: 1;
}

#info_target {
    width: 1fr;
    margin-right: 1;
}

#info_action_mode {
    width: 1fr;
}

#lookup_search_input {
    margin-top: 1;
    margin-bottom: 1;
    height: auto;
}

#lookup_search_button {
    margin-bottom: 1;
    width: auto;
}

#lookup_log {
    height: 1fr;
    min-height: 10;
    margin-top: 1;
}

.date_time_input {
    margin: 1 0 0 0;
}

.half_width_input {
    width: 1fr;
}

.booking_button {
    margin-right: 1;
}

#booking_log {
    height: 1fr;
    min-height: 10;
}